/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $color-nav-button;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: $br;

  @media #{$breakpoint} {
    padding: 10px 30px;
  }
}

  .btn + .btn {
    @media #{$breakpoint} {
      margin-left: 10px;
  }
}

@include theme($buttons);

.default:hover {
  background-color: $default-fade;
  transition: .7s ease-out;
}

.success:hover {
  background-color: $success-fade;
  transition: .7s ease-out;
}

.error:hover {
  background-color: $error-fade;
  transition: .7s ease-out;
}

.warning:hover {
  background-color: $warning-fade;
  transition: .7s ease-out;
}

.info:hover {
  background-color: $info-fade;
  transition: .7s ease-out;
}
