/* ============================================= */
/*              Navigation                       */
/* ============================================= */


.nav {
  @include flexy(flex, column);
  padding-left: 0;
  flex-basis: 100%;

  @media #{$breakpoint} {
    @include flexy($dir: row, $just: flex-end);
    align-items: center;
  }
  &-link {
    text-align: center;
    border-radius: $br;
    padding: 10px 0;
    display: block;
    width: 100%;

  @media #{$breakpoint} {
    flex-basis: 100px;
    }
  }
  &-link:hover {
    color: $color-nav-button;
    background-color: $color-primary-light;
    transition: .7s ease-out;
  }
}
